# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment folders
.venv/
venv/
env/
effvenv/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
*.env